.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  > section {
    width: 100%;
  }
}
header {
  > h1 {
    text-align: center;
  }
}
.main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  margin-bottom: 1rem;
}
.form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.drugs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}
.drug {
  text-align: center;
}

.hd__details {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  > h1 {
    margin: 0;
  }
}